# Compressed File
*.zip

# Hardware Simulator Files
*.cmp
*.tst
*.out

# vscode c++ config files
\.vscode

# .exe files
*.exe

code_writer.o: src/code_writer.cpp src/code_writer.h
	$(CXX) $(WARNINGS) $(STDVERSION) -c src/code_writer.cpp -o code_writer.o